
h1 {
    background-color: darkcyan;
    font-size: 50px;
    text-align: center;
}
main {
    max-width: 80%;
    margin: 0 auto;
}
body {
    background-image: url(fondolibros.jpg);
}
.paginaactual{
    text-align: end;
    max-width: 70%;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(63, 63, 109);
    color: cornsilk;
}
#nombre{
    max-width: 80%;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(38, 153, 115);
    color: cornsilk;
}
#camino{
    max-width: 70%;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(38, 153, 115);
    color: cornsilk;
}
.central{
    display: flex;
}
.texto{
    background-image: url(fondopagina.jpg) ;
    padding: 2em;
    margin: 2em;
    font-size: x-large;
}
.opciones{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    background-color: black;
    font-size: 96px;
    font-family: 'Courier New', Courier, monospace;
    color: silver;
    
}
#op1{
    font-size: x-large;
}
#op2{
    font-size: x-large;
}
#op3{
    font-size: x-large;
}
#op4{
    font-size: x-large;
}