h1 {
    background-color: darkcyan;
    font-size: 50px;
    text-align: center;
}
main {
    max-width: 50rem;
    margin: 0 auto;
}
.pagina{
    right: 0px ;
    background-color: rgb(63, 63, 109);
}
.texto{
    background-color: crimson;
    padding: 2em;
    margin: 2em;
    font-size: x-large;
    
}
.opciones{
    display: flex;
    background-color: black;
    font-size: 96px;
    font-family: 'Courier New', Courier, monospace;
    color: silver;
    
}
.blau{
    background-color: rgb(86, 172, 222);
}
.verd{
    background-color: rgb(69, 172, 108);
}
.op1{
    font-size: x-large;
}
.op2{
    font-size: x-large;
}