h1 {
    background-color: darkcyan;
    font-size: 50px;
    text-align: center;
}
main {
    max-width: 70%;
    margin: 0 auto;
}
.paginaactual{
    max-width: 70%;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(63, 63, 109);
    color: cornsilk;
}
.dreta{
    align-content: flex-end;
}
.texto{
    background-color: crimson;
    padding: 2em;
    margin: 2em;
    font-size: x-large;
}
.opciones{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    background-color: black;
    font-size: 96px;
    font-family: 'Courier New', Courier, monospace;
    color: silver;
    
}
#op1{
    font-size: x-large;
}
#op2{
    font-size: x-large;
}
#op3{
    font-size: x-large;
}
#op4{
    font-size: x-large;
}